In [3]:
def spam(eggs):
    eggs.append(1)
    print(f'spam(eggs)안에서 ham 의 id 순서2: {id(ham)}') 
    print(f'spam(eggs)안에서 eggs 의 id 순서3: {id(eggs)}')    
    eggs = [2,3] #재선언됨. 또 다른 메모리 위치 주솟값이 할당됨. 
    print(f'spam(eggs)안에서 eggs 의 id 순서4: {id(eggs)}')

ham = [0]
print(f'ham 의 id 순서1 : {id(ham)}')
spam(ham)
print(f'ham 의 id 순서5: {id(ham)}')
print(ham)

ham 의 id 순서1 : 2483387793536
spam(eggs)안에서 ham 의 id 순서2: 2483387793536
spam(eggs)안에서 eggs 의 id 순서3: 2483387793536
spam(eggs)안에서 eggs 의 id 순서4: 2483387795904
ham 의 id 순서5: 2483387793536
[0, 1]

In [4]:
def f():
    global s
    s = "I love Busan"
    print(s)
s = "I love 국밥"
f()
print(s)

I love Busan
I love Busan

In [6]:
# def sum(a,b,*args):
#     return print(args)
# 
# print(sum(1,2,3,4))

(3, 4)
None

In [1]:
def sum2(a,b,*args):
    return a + b + sum(args)
print(f"sum2(1,2,3,4,5)의 결과 : {sum2(1,2,3,4,5)}")

sum2(1,2,3,4,5)의 결과 : 15

In [2]:
def testKargs(**args):
    print(args)
    print(f"키 값에 해당하는 value 값 조회 : {args["a"]}")
    print(f"키 값에 해당하는 value 값 조회 : {args["b"]}")
    print(f"키 값에 해당하는 value 값 조회 : {args["c"]}")
    
testKargs(a = 1, b = 2, c = 3)

{'a': 1, 'b': 2, 'c': 3}
키 값에 해당하는 value 값 조회 : 1
키 값에 해당하는 value 값 조회 : 2
키 값에 해당하는 value 값 조회 : 3

In [4]:
def A(*args) :
    x,y , *z = args
    print(f"z의 타입 : {type(z)}")
    return x,y,z

print(f"A(1,2) 의 결과 : {A(1,2)}")
print(f"A(1,2,3) 의 결과 : {A(1,2,3)}")
print(f"A(1,2,3,4,5) 의 결과 : {A(1,2,3,4,5)}")

z의 타입 : <class 'list'>
A(1,2) 의 결과 : (1, 2, [])
z의 타입 : <class 'list'>
A(1,2,3) 의 결과 : (1, 2, [3])
z의 타입 : <class 'list'>
A(1,2,3,4,5) 의 결과 : (1, 2, [3, 4, 5])